.page {
  padding: 10px;
  background-color: rgb(246, 246, 239);
}

.hostname {
  color: #828282;
  font-size: 12px;
}

.rank {
  color: #828282;
  font-size: 15px;
}

.titleLink {
  margin-left: 6px;
  color: #000;
  font-size: 15px;
}

.detail {
  color: #828282;
  font-size: 12px;
}
